/* 헤더영역 */
header{}
.login ul{
    /* 플렉스 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
.login ul li{
    margin-right: 18px;
    margin-top: 18px;
    font-size: 10px;
    font-weight: 400;
}
.login ul img{
    width: 13px;
    height: 13px;
}
.logo img{
    /* 포지션 */
    position: relative;
    left: -15px;
    top: -3px;
    z-index: 1; 
    cursor: pointer;
}

.gnb{
    margin-top: 24px;
}
.gnb>ul{
    display: flex;
    flex-flow: row nowrap;
}
.gnb>ul>li>a{
    margin: 0 18px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    /* 포지션 위치기준값 */
    position: relative;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;;
}
.gnb>ul>li:nth-child(1)>a{
    margin-left: 0 !important;
}
.gnb>ul>li>a:hover{
    color: silver;
}
.gnb>ul>li span{
    font-weight: 700;
    color: #61beb3;
}
.sub{
    border: 1px solid #000;
    text-align: center;
    display: none;
    /* 포지션 */
    position: absolute;
    z-index: 999999999; 
}
.gnb>ul>li:nth-child(2) .sub{
    width: 90px;
    margin-top: 10px;
}
.gnb>ul>li:nth-child(5) .sub{
    width: 89px;
    /* margin-top: 10px; */
    margin-left: 18px;
    margin-top: 10px;
}
.gnb>ul>li:nth-child(6) .sub{
    width: 77px;
    margin-left: 19px;
    margin-top: 10px;
    
}
.gnb>ul>li:nth-child(7) .sub{
    width: 65px;
    margin-left: 19px;
    margin-top: 10px;
}
.gnb>ul>li:nth-child(8) .sub{
    width: 88px;
    margin-left: 19px;
    margin-top: 10px;
}
.gnb>ul>li:nth-child(11) .sub{
    width: 90px;
    margin-left: 18px;
    margin-top: 10px;
}
.sub li{
    font-size: 11px;
    background-color: #fff;
    padding: 10px 0;
    cursor: pointer;
}
.sub li:hover{
    background-color: #f7f7f7;
    color: #ccc;
    transition: all .5s;
}
.sub li:hover .gnb ul li{
    color: rgb(255, 255, 255);
}


/* 호버했을때 2depth 보이기 */
.gnb>ul>li:hover .sub{
    display: block;
}