@charset "utf-8";

form {
    font-size: 12px;
    padding: 0 16px;
}

section h3 {
    border: 1px solid #d5d5d5;
    background: #f1f1f1;
    height: 45px;
    line-height: 45px;
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
}
section h3 .star img {
    vertical-align: middle;
    width: 5px;
    height: 5px;
}
section .form_contents {
    width: 100%;
    border: 1px solid #d5d5d5;
    border-top: none;
    margin-bottom: 16px;
    border-collapse: collapse;
    padding: 10px;
}

section .form_contents .join_info {
    height: 40px;
    border-bottom: 1px solid #d5d5d5;
}
section .form_contents .join_info:nth-last-of-type(2) {
    border-bottom: none;
}
section .form_contents .join_info td {
    padding-right: 8px;
}



/* input 설정 */
input[type="text"],
input[type="password"],
input[type="button"],
input[type="tel"],
input[type="email"],
section select {
    height: 40px;
    background-color: #f1f1f1;
    border-radius: ;
}
.select{
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width :100%;
}
section select {
    width: 100px;
    border: none;
    appearance: none;
}
.select__arrow{
    position: absolute;
    top :16px;
    right: 15px;
    width :0;
    height :0;
    pointer-events: none;
    border-style :solid;
    border-width: 8px 5px 0 5px;
    border-color: #999 transparent transparent transparent;
}




input[type="button"] {
    font-size: 12px;
    width: 72px;
    border: 1px solid #d5d5d5;
    cursor: pointer;
}

input[type="submit"]{
    height: 50px;
    color: #fff;   
    background: #222;
    cursor: pointer;
}